<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2 py-5">
      <div class="about-page-text">
        <div class="small-title-2 my-2 h3">Terms &amp; Conditions</div>

        <h3>DEFINITIONS</h3>

        <p>
          The “Seller” is defined as the legal entity Rishani Foods. The “Buyer”
          means the person (legal or natural) who buys the goods. “Goods” is
          defined as the items to be supplied by the Seller to the Buyer as
          listed in the invoice.
        </p>

        <h3>GENERAL</h3>

        <p>
          These Terms and Conditions shall apply to the sale of the Goods by the
          Seller to the Buyer to the exclusion of all other terms and conditions
          referred except where the Seller has agreed to such variation in
          writing and by way of signature. By ordering from Rishani Foods you
          agree to be legally bound by these Terms and Conditions (“Conditions)
          and accept that these Conditions may be modified or amended and posted
          on this website from time to time.
        </p>

        <h3>PAYMENT AND DEPOSIT</h3>

        <p>
          User can pay with cash on delivery methods or online payment system(
          credit cards, debit cards, net banking, and more). Your payment will
          secure with our system.&nbsp;
        </p>

        <h3>CONSULTATIONS</h3>

        <p>
          Consultations are by appointment only and are not applicable to all
          orders. An appointment for a consultation and tasting must be agreed
          on with Rishani Foods by email and the consultation fee must be paid
          prior to consultation date before it can be confirmed. All
          appointments for consultations will be confirmed in writing by Rishani
          Foods.
        </p>

        <h3>PRICE QUOTATIONS</h3>

        <p>
          All price quotations, written or verbal, are valid for 30 days from
          the date of quotation.
        </p>

        <h3>CANCELLATIONS AND ALTERATIONS</h3>

        <p>
          If you have any queries or need to make any changes to an order please
          contact us immediately. We will assess your request for an alteration
          and let you know its effect on the price and any agreed timetable.
          Accepting any alterations is at the discretion of the Seller.
          Alterations requested less than 2 days before completion may be
          subject to a surcharge. We cannot refund any of the cost of any cake
          orders cancelled with less than 2 week’s notice. Orders paid in full
          and cancelled with more than 2 days notice will receive a partial
          refund of the total amount paid. In the unlikely event that we have to
          cancel your order for any reason, then we will give you as much notice
          as possible, and discuss the matter with you and try to agree a
          suitable alternative. If you are not willing to accept our suggested
          alternative, then we will refund the full price to you.
        </p>

        <h3>DAMAGES</h3>

        <p>
          In the unlikely event that your order arrives damaged, it is the
          customer’s responsibility to report the damage to us within 48 hours
          and send photographic evidence of the damage within 7 working days if
          you wish to claim a refund or replacement. The Seller will not take
          back any undamaged goods from the Buyer unless agreed in writing by
          the Seller. The Seller accepts no liability for cakes that are damaged
          after they have been delivered to the agreed location. For cakes
          delivered to venues, the Seller requires a signed delivery note by the
          person in charge to say that the product has arrived and that it
          arrived in perfect condition. Product collected from the Rishani Foods
          require a signed collection note by the person in charge to say that
          the product was collected in perfect condition. Damages after this
          point are not Rishani Foods’s responsibility. All Rishani Foods cakes
          are fragile and require care and attention when handling, storing, and
          displaying. Please pay careful attention to our storage and
          transportation (where relevant) instructions that will be provided
          with the cake. Where samples of the Goods are shown to the Buyer, the
          Buyer hereby accepts that they consider such samples to be
          representative of the Goods. Any description applied to the Goods is
          only given by way of identification and does not constitute a sale by
          description.
        </p>

        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
