<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 mb-5">
      <div class="about-page-text">
        <div class="small-title-2 my-3 h3"><strong>Privacy Policy</strong></div>

        <h2>
          <strong>What personal data we collect and why we collect it</strong>
        </h2>

        <h3><strong>Comments</strong></h3>

        <p>
          When visitors leave comments on the site we collect the data shown in
          the comments form, and also the visitor’s IP address and browser user
          agent string to help spam detection.
        </p>

        <p>
          A&nbsp;string created from your email address (also called a hash) may
          be provided to the&nbsp;Gravitas&nbsp;service to see if you are using
          it. The&nbsp;Gravitas&nbsp;service privacy policy is available here:
          {{ siteUrl }}/privacy/. After approval of your comment, your profile
          picture is visible to the public in the context of your comment.&nbsp;
        </p>

        <h3><strong>Contact forms</strong>&nbsp;</h3>

        <p>
          We use a contact form on this website to collect your name, address,
          phone #, email address and any additional comments so that we may
          contact you as per your request.  Your personal information is never
          shared with any outside parties.&nbsp;
        </p>

        <h3><strong>Cookies</strong></h3>

        <p>
          If you leave a comment on our site you may opt-in to saving your name,
          email address and website in cookies. These are for your convenience
          so that you do not have to fill in your details again when you leave
          another comment. These cookies will last for one year.&nbsp;
        </p>

        <p>
          If you have an account and you log in to this site, we will set a
          temporary cookie to determine if your browser accepts cookies. This
          cookie contains no personal data and is discarded when you close your
          browser.&nbsp;
        </p>

        <p>
          When you log in, we will also set up several cookies to save your
          login information and your screen display choices. Login cookies last
          for two days, and screen options cookies last for a year. If you
          select “Remember Me”, your login will persist for two weeks. If you
          log out of your account, the login cookies will be removed.&nbsp;
        </p>

        <p>
          If you edit or publish an article, an additional cookie will be saved
          in your browser. This cookie includes no personal data and simply
          indicates the post ID of the article you just edited. It expires after
          1 day.&nbsp;
        </p>

        <h3><strong>Embedded content from other websites</strong>&nbsp;</h3>

        <p>
          Articles on this site may include embedded content (e.g. videos,
          Google reviews,&nbsp;Facebook&nbsp;reviews, Yelp reviews, Trip Advisor
          reviews,  images, articles, etc.). Embedded content from other
          websites behaves in the exact same way as if the visitor has visited
          the other website.&nbsp;
        </p>

        <p>
          These websites may collect data about you, use cookies, embed
          additional third-party tracking, and monitor your interaction with
          that embedded content, including tracking your interaction with the
          embedded content if you have an account and are logged in to that
          website.&nbsp;
        </p>

        <h3><strong>What rights you have over your data</strong>&nbsp;</h3>

        <p>
          If you have an account on this site, or have left comments, you can
          request to receive an exported file of the personal data we hold about
          you, including any data you have provided to us. You can also request
          that we erase any personal data we hold about you. This does not
          include any data we are obliged to keep for administrative, legal, or
          security purposes.&nbsp;
        </p>

        <h3>
          <strong>Legal Basis for Processing Personal Data&nbsp;</strong
          ><strong>Under</strong
          ><strong>&nbsp;General Data Protection Regulation (GDPR)</strong
          >&nbsp;
        </h3>

        <p>
          If you are from the European Economic Area (EEA), Rishani Foods legal
          basis for collecting and using the personal information described in
          this Privacy Policy depends on the Personal Data we collect and the
          specific context in which we collect it.&nbsp;
        </p>

        <p>Rishani Foods may process your Personal Data because:&nbsp;</p>

        <ul style="list-style-type: disc">
          <li>
            <p>We need to perform a contract with you&nbsp;</p>
          </li>
        </ul>

        <ul style="list-style-type: disc">
          <li>
            <p>You have given us permission to do so&nbsp;</p>
          </li>
          <li>
            <p>
              The processing is in our legitimate interests and it’s not
              overridden by your rights&nbsp;
            </p>
          </li>
          <li>
            <p>To comply with the law&nbsp;</p>
          </li>
        </ul>

        <h3><strong>Security of Data</strong>&nbsp;</h3>

        <p>
          The&nbsp;security of your data is important to us, but
          remembers&nbsp;that no method of transmission over the Internet, or
          method of electronic storage is 100% secure. While we strive to use
          commercially acceptable means to protect your Personal Data, we cannot
          guarantee its absolute security.&nbsp;
        </p>

        <h3><strong>Policy changes:</strong>&nbsp;</h3>

        <p>
          We may change our privacy policy from time to time. We encourage you
          to refer to this policy on an ongoing basis so that you understand our
          current privacy policy.&nbsp;
        </p>

        <h3><strong>Contact information:</strong>&nbsp;</h3>

        <p>
          If you have any questions or concerns about this privacy policy,
          please contact us at&nbsp;<a
            href="mailto:{{ contactEmail }}"
            target="_blank"
            >{{ contactEmail }}</a
          >&nbsp;
        </p>

        <h3><strong>SECURITY POLICY</strong>&nbsp;</h3>

        <p>
          Your personal information is always safe. Our Secure Sockets Layer
          (SSL) software is the industry standard and among the best software
          available today for secure commerce transactions. It encrypts all of
          your personal information, including credit card number, name, and
          address, so that it cannot be read over the internet.&nbsp;
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
