<div class="container-sm pb-5">
  <h1 class="text-center pb-5">Our Infrastructure</h1>
  <div class="imageTileContainer">
    <div class="p-2">
      <img
        src="assets/factory/4.JPG"
        #factoryImg4
        (click)="imgClick(factoryImg4)"
        alt="Our Story Image"
      />
    </div>
    <div class="p-2">
      <img
        src="assets/factory/1.JPG"
        #factoryImg1
        (click)="imgClick(factoryImg1)"
        alt="Our Story Image"
      />
    </div>
    <div class="p-2">
      <img
        src="assets/factory/2.JPG"
        #factoryImg2
        (click)="imgClick(factoryImg2)"
        alt="Our Story Image"
      />
    </div>
    <div class="p-2">
      <img
        src="assets/factory/5.JPG"
        #factoryImg5
        (click)="imgClick(factoryImg5)"
        alt="Our Story Image"
      />
    </div>
    <div class="p-2">
      <img
        src="assets/factory/6.JPG"
        #factoryImg6
        (click)="imgClick(factoryImg6)"
        alt="Our Story Image"
      />
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="imgModalContainer" #imgModalContainer class="modal">
  <!-- The Close Button -->
  <span
    class="close"
    onclick="document.getElementById('imgModalContainer').style.display = 'none'"
    >&times;</span
  >

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="imgModalImg" #imgModalImg />

  <!-- Modal Caption (Image Text) -->
  <div id="imgModalCaption" #imgModalCaption></div>
</div>
