.header-content {
  // height: 100vmin;
  // width: 100vmax;
}

.header-content > h3 {
  font-family: "Tangerine", serif;
  font-size: 10vh;
  text-shadow: 4px 4px 4px #aaa;
}

.parallax-header {
  background: #000;
  background: url(../../../assets/RishaniFoodProducts.webp);
  // background: url(../../../assets/home-banner-large.webp);
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  aspect-ratio: 100vh/100vw;
}

.header-content {
  padding: 0 0 20em 0;
}

.negetive-margin-5 {
  margin-top: -5rem;
}

.testimonials-img {
  width: 6rem;
  height: 7rem;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 32%;
}
