.header-content > h3 {
  font-family: "Tangerine", serif;
  font-size: 96px;
  text-shadow: 4px 4px 4px #aaa;
}

.parallax-header {
  background: #000;
  background: url(../../../assets/home-banner-large.jpg);
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  padding: 0 0 20em 0;
}

.negetive-margin-5 {
  margin-top: -5rem;
}

