.contact-us-banner {
  background-image: url("^assets/contact-us-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 30rem;
}

.flex-even {
  flex: 1;
}

.address, .phone, .email {
    min-height: 18rem;
}

.bg-indigo {
  background-color: #005051;
  background-color: #9a6a62;
  //   background-color: $bs-green;
}

.contact-us-icon {
  line-height: 98px;
  height: 100px;
  width: 100px;
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding-left: 26px;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.color-darkred {
  color: firebrick !important;
}
