<!-- <div class="footer-mid"> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div>
          <p class="labeltxt"><b class="text-color">USEFUL LINKS</b></p>
          <div class="pos-rel admin-edit-border menuLink-wrapper">
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p class="labeltxt"><b class="text-color">CONTACT</b></p>
        <div class="text-color footer-cnt-us editable-content-holder">
          <div class="footer-cnt-text footer-cnt-color editable-content">
            Malad West, Mumbai, 400064, Maharashtra
          </div>
        </div>
        <div>
          <a
            href="mailto:contact@mysites.com"
            class="footer-cnt-color footer-cnt-text"
            ><div
              class="
                text-color
                footer-cnt-us-email
                notranslate
                editable-content-holder
              "
            >
              <div class="editable-content">contact@mysites.com</div>
            </div></a
          >
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="footer-icons footer3">
          <p class="labeltxt"><b class="text-color">CONNECT</b></p>
          <div class="admin-edit-border account-social-wrapper">
            <div class="social-sec wrap-icons">
              <a
                target="_blank"
                data-externallink="http://www.facebook.com"
                title="Facebook"
                href="http://www.facebook.com"
                class="sprite-fbCircle icon-fbCircle sprite_new paddingR5"
              ></a
              ><a
                target="_blank"
                data-externallink="http://www.linkedin.com"
                title="LinkedIn"
                href="http://www.linkedin.com"
                class="sprite-inCircle icon-inCircle sprite_new paddingR5"
              ></a
              ><a
                target="_blank"
                data-externallink="http://www.instagram.com"
                title="Instagram"
                href="http://www.instagram.com"
                class="sprite-instaCircle icon-instaCircle sprite_new paddingR5"
              ></a
              ><a
                target="_blank"
                data-externallink="http://www.twitter.com"
                title="Twitter"
                href="http://www.twitter.com"
                class="
                  sprite-TwiterCircle
                  icon-TwiterCircle
                  sprite_new
                  paddingR5
                "
              ></a
              ><a
                target="_blank"
                data-externallink="https://www.justdial.com"
                title="Justdial"
                href="https://www.justdial.com"
                class="sprite-jdNew icon-jdNew sprite_new paddingR5"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- <div class="footer-distributed bootstrap-iso">
  <div class="container-fluid copyright-sec">
    <div class="col-xs-12 col-md-6 footer-company-name align-item">
      <div class="text-color copyright-container editable-content-holder">
        <div class="editable-content">
          © Copyrights 2021 - 2022.Food Hub.All Rights Reserved.
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 paddingLR0"></div>
    <div class="col-xs-12 col-md-3 paddingLR0">
      <div id="jdRating" class="jdRating"></div>
    </div>
  </div>
</div> -->
