<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Punny headline</h1>
      <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="container-fluid py-5">
    <main class="product-grid">
      <article class="product stacked featured">
        <picture class="zoom-effect-container">
          <source media="(min-width: 960px)"
                  srcset="assets/products/product-1-large@3x.jpg">
          <source media="(min-width: 600px)"
                  srcset="assets/products/product-1-medium@3x.jpg">
          <source srcset="assets/products/product-1-small@3x.jpg">
          <img src="assets/products/product-1-large@3x" alt="Product 1" class="product__img zoom-img ">
        </picture>      
        <div class="product__content">
          <h2 class="product__title">Product 1</h2>
          <p class="product__description">This is product 1 description</p>
        </div>
      </article>
      <article class="product stacked">
        <picture>
          <source media="(min-width: 960px)"
                  srcset="assets/products/product-2-large@3x.jpg">
          <source media="(min-width: 600px)"
                  srcset="assets/products/product-2-medium@3x.jpg">
          <source srcset="assets/products/product-2-small@3x.jpg">
          <img src="assets/products/product-2-large@3x" alt="Product 2" class="product__img zoom-img ">
        </picture>
        <div class="product__content">
          <h2 class="product__title">Product 2</h2>
          <p class="product__description">This is product 2 description</p>
        </div>
      </article>
      <article class="product stacked">
        <picture>
          <source media="(min-width: 960px)"
                  srcset="assets/products/product-3-large@3x.jpg">
          <source media="(min-width: 600px)"
                  srcset="assets/products/product-3-medium@3x.jpg">
          <source srcset="assets/products/product-3-small@3x.jpg">
          <img src="assets/products/product-3-large@3x" alt="Product 3" class="product__img zoom-img ">
        </picture>
        <div class="product__content">
          <h2 class="product__title">Product 3</h2>
          <p class="product__description">This is product 3 description</p>
        </div>
      </article>
      <article class="product stacked">
        <picture>
          <source media="(min-width: 960px)"
                  srcset="assets/products/product-4-large@3x.jpg">
          <source media="(min-width: 600px)"
                  srcset="assets/products/product-4-medium@3x.jpg">
          <source srcset="assets/products/product-4-small@3x.jpg">
          <img src="assets/products/product-4-large@3x" alt="Product 4" class="product__img zoom-img ">
        </picture>
        <div class="product__content">
          <h2 class="product__title">Product 4</h2>
          <p class="product__description">This is product 4 description</p>
        </div>
      </article>
      <article class="product stacked">
        <picture>
          <source media="(min-width: 960px)"
                  srcset="assets/products/product-5-large@3x.jpg">
          <source media="(min-width: 600px)"
                  srcset="assets/products/product-5-medium@3x.jpg">
          <source srcset="assets/products/product-5-small@3x.jpg">
          <img src="assets/products/product-5-large@3x" alt="Product 5" class="product__img zoom-img ">
        </picture>
        <div class="product__content">
          <h2 class="product__title">Product 5</h2>
          <p class="product__description">This is product 5 description</p>
        </div>
      </article>
      <article class="product stacked">
        <picture>
          <source media="(min-width: 960px)"
                  srcset="assets/products/product-6-large@3x.jpg">
          <source media="(min-width: 600px)"
                  srcset="assets/products/product-6-medium@3x.jpg">
          <source srcset="assets/products/product-6-small@3x.jpg">
          <img src="assets/products/product-6-large@3x" alt="Product 6" class="product__img zoom-img ">
        </picture>
        <div class="product__content">
          <h2 class="product__title">Product 6</h2>
          <p class="product__description">This is product 6 description</p>
        </div>
      </article>
      <article class="product stacked">
        <picture>
          <source media="(min-width: 960px)"
                  srcset="assets/products/product-7-large@3x.jpg">
          <source media="(min-width: 600px)"
                  srcset="assets/products/product-7-medium@3x.jpg">
          <source srcset="assets/products/product-7-small@3x.jpg">
          <img src="assets/products/product-7-large@3x" alt="Product 7" class="product__img zoom-img ">
        </picture>
        <div class="product__content">
          <h2 class="product__title">Product 7</h2>
          <p class="product__description">This is product 7 description</p>
        </div>
      </article>    
    </main>
  </div>