/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.bg-indigo {
  background-color: #005051;
  background-color: #9a6a62;
  //   background-color: $bs-green;
}

.contact-us-icon {
  line-height: 98px;
  height: 100px;
  width: 100px;
  color: #ffffff !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding-left: 26px;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.color-darkred {
  color: firebrick !important;
}

.form-control-custom {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-custom:hover {
  box-shadow: none !important;
  border-color: #0088ff;
}