<main>
  <!-- <section id="header" class="container-sm pb-5 py-5">
    <div class="title_bg"></div>
    <h6 class="sc_section_subtitle sc_item_subtitle">About Us</h6>
    <h2 class="sc_section_title sc_item_title sc_item_title_without_descr">
      Our Story of Success
    </h2>
  </section> -->

  <section id="owners-desk" class="container-sm pb-5 py-5">
    <h1 class="text-center pb-5">Welcome to Rishani Food Products</h1>
    <div class="row">
      <div class="col-sm">
        <p>
          “Rishani Foods” an upcoming Brand in the field of Confectionery and
          bakery segment, with the motto of providing highest quality food
          products with best of hygiene standards to the customer to ensure the
          best return of customer’s investment.
        </p>
        <p>
          “Rishani” a name that itself defines the Quality of the product, “The
          word RISHANI stands for Rich in Sweet, Healthy, Attractive, Nutritious
          and Intense.
        </p>
        <p>
          Rishani Food Products, a company owned by the Poria’s, one of the
          market leaders in the Biscuit Industry.
        </p>
        <p>
          Commenced in the year 2022, “Rishani Foods” has entered in the market
          as a leading Manufacturer of Biscuits, Cake, Rusk Toast, Milk Rusk,
          Cardamom Rusk, Suji Toast etc. Company started initially from Paschim
          Medinipur origin, with well-equipped factory unit with high advanced
          technology machines which will help to produce quality products and
          develop new products for the bakery industry.
        </p>
      </div>
      <div class="col-sm">
        <img
          src="assets/OurStory.webp"
          class="img-fluid"
          alt="Our Story Image"
        />
      </div>
    </div>
  </section>

  <section id="owners-desk" class="container-sm pb-5 py-5">
    <h1 class="text-center pb-5">Owner’s Desk</h1>
    <div class="row">
      <div class="col-sm">
        <img
          src="assets/vivekananda-poria.webp"
          class="img-fluid"
          alt="Vivekananda Poria"
        />
      </div>
      <div class="col-sm">
        <h4 class="text-center">Mr. Vivekananda Poria</h4>
        <h6 class="text-center">Owner</h6>
        <p>
          He is the founder and owner of Rishani food products. Completed MBA in
          Human Resource from Vidyasagar University with a strong determination
          and also nominated for “Silver Medal”.
        </p>
        <p>
          His Journey into food industry started over the year ago. After
          masters of business administration he took a job, working as human
          resource in food manufacturing sector. After working with numerous
          foods manufacturing company finally decided to start own manufacturing
          unit.
        </p>
        <p>
          The success story started at the very early age. He is a stalwart
          believer of consistency, discipline, hard work, self belief, patience
          and persistence. He is the master planer behind the success of Rishani
          Food Products. The relentless efforts of his father, friends and all
          other stakeholders help the industry to reach its pinnacle. He has
          undertakes to conceptualize brand new products, processes, and ideas,
          or to approach existing products, processes, and ideas in new ways. He
          is the main decision maker and responsible for overall working of the
          industry. He actively takes part in day-to-day overall business
          activity and mainly focus on the quality of output of all the
          manufacturing concerns. He firmed believer in product quality. His
          in-depth perception of the Indian consumer-psychology has helped to
          enhance a marketing philosophy that reflects the Indian masses. In a
          career spanning around two decades, he has gained a widespread
          knowledge in the bakery industry which is helping to accomplish its
          vision in an effective and efficient manner.
        </p>
        <!-- <div class="card-body p-0">
        </div> -->
      </div>
    </div>
  </section>

  <!-- <img src="assets/contact-us-banner.webp" alt="" class="w-100 image-fluid" /> -->
</main>
