<main class="site-content__main page-id--273231">
  <span id="main-content" class="sr-only">Main content starts here, tab to start navigating</span>

  <section id="intro" class="content c-intro container-sm revealable revealed">
    <h1>Our Story</h1>
    <p>
      Paul and Monique met in 2013 at Geranium restaurant in Copenhagen. Their
      relationship started with long distance country calls and working beside
      each other on the stoves at some of the best restaurants in the world.
    </p>
  </section>

  <aside class="c-featured--team content container">
    <ul class="card-listing row">
      <li class="card col-md-6 col-lg-4 card--cols-three revealable revealed">
        <a
          class="card__btn"
          data-popup="team"
          href="/team-member/paul-feybesse/"
        >
          <div class="card__media">
            <div
              class="card__image image-thumbnail"
              style="
                background-image: url('https://images.getbento.com/accounts/7c3e91c4d88a0f529ec8519aab0e852b/media/MBvxvQIfTGigXWa30cDU_EG7B5371-Edit.jpg?w=600&amp;fit=max&amp;auto=compress,format&amp;h=600');
              "
            >
              <img class="sr-only" alt="a man wearing a suit and tie" />
            </div>
          </div>
          <h3 class="h2 card__heading">Paul Feybesse</h3>
          <div class="h4 card__subheading">Chef and Owner</div>
        </a>
      </li>

      <li class="card col-md-6 col-lg-4 card--cols-three revealable revealed">
        <a
          class="card__btn"
          data-popup="team"
          href="/team-member/monique-feybesse/"
        >
          <div class="card__media">
            <div
              class="card__image image-thumbnail"
              style="
                background-image: url('https://images.getbento.com/accounts/7c3e91c4d88a0f529ec8519aab0e852b/media/images/74253RWeill_TF-1887.jpg?w=600&amp;fit=max&amp;auto=compress,format&amp;h=600');
              "
            >
              <img class="sr-only" alt="a person standing in front of a tree" />
            </div>
          </div>
          <h3 class="h2 card__heading">Monique Feybesse</h3>
          <div class="h4 card__subheading">Chef and Owner</div>
        </a>
      </li>
    </ul>
  </aside>

  <section class="c-one-col--text content container revealable revealed">
    <p>
      The story of Tarts de Feybesse was created in 2016 when expecting their
      first son and Paul was visiting for a few weeks from France. He created
      their iconic apple rose tart in Monique’s parents kitchen when just
      wanting to make a delicious tart for the family. When Monique arrived
      home, she immediately fell in love and proposed posting on her social
      media to test if it could garner any attention to sell directly through
      their personal platforms. Tarts de Feybesse was born through DMs and word
      of mouth, eventually being featured in the San Francisco Chronicle. It
      took a hiatus when raising their son and when Paul and Monique continued
      their restaurant path.
    </p>
    <p>
      In March 2020, the year of COVID-19, Tarts de Feybesse was reborn in their
      Glen Cove Vallejo home as a way to bring sourdough levain to their
      community and neighbor’s door due to the shortage. They started with only
      8 breads the first week, swearing that would be the maximum. It quickly
      turned into a complete pastry menu, selling out every day and weeks in
      advance to the Bay Area clientele, staying true to French classic roots
      and creating pastries that are beautiful, modern, and most of all,
      delicious.
    </p>
  </section>

  <!-- <section
    class="c-tout-overlay revealable revealed"
    style="
      background-image: url('https://images.getbento.com/accounts/7c3e91c4d88a0f529ec8519aab0e852b/media/kERV6NrlQLaVlaQ6Jx4g_EG7B5186-Edit.jpg?fit=max&amp;w=1800&amp;auto=format,compress');
      height: 0px;
    "
  ></section> -->
  <img src="assets/contact-us-banner.jpeg" alt="" class="w-100 image-fluid">
</main>
